@charset "utf-8";

body {
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

h1 {
  font-size: 1.8rem;
  text-align: center;
}

h2 {
  font-size: 1.2rem;
  text-align: center;
  //margin: 0 0 30px 0;
}

p {
  margin-top: 20px;
}

small {
  background: #006400;
  color: #fff;
  display: block;
  text-align: center;
  padding: 20px;
}

a {
  text-decoration: none;
}

ul {
  margin-inline-start: -40px;
}

li {
    list-style: none;
}

/*========= navigation ===============*/
nav ul {
  list-style: none;
  display: flex;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 10px;
  transition: all 0.3s;
}

nav ul li.current a,
nav ul li a:hover {
  color: rgb(124, 122, 122);
}

.main-nav dl {
  background: #006400;
  color: #fff;
  padding: 15px 40px;
}

.main-nav dl dt {
  font-size: 0.8rem;
  text-align: center;
}

.main-nav dl a {
  color: #fff;
  font-size: 1.5rem;
}

#header {
  /*以下はレイアウトのためのCSS*/
  display: flex;
  justify-content: end;
  align-items: center;
  background: rgba(255, 255, 255, 1.0);
  color: #000;
}


/*========= section ===============*/
section {
  padding: 30px;
}

section:nth-child(odd) {
  background: rgba(216,191,216,0.3);
}

/*========= about ===============*/
/*button-borderクラスはbutton.cssに記載している*/
.about-area {
writing-mode: vertical-rl;
margin: 10%;

}

.about-heding {
padding-left: 20px;
}

.about-desc {
padding-left: 20px;
}

.gallery-link {
vertical-align: middle;
text-align: center;
}

/*button-borderのレイアウトクラス*/
.button-vertical {
 padding: 100px 30px;
}

#about {
display: flex;	/*左右揃えのため*/
justify-content: center;
height: 80vh;
}


/*========= itemlist ===============*/
/*縦書き見出しの設定　vertical-title*/
.vertical-title {
display: flex;	/*左右揃えのため*/
justify-content: center;

}

.vertical-title h2 {
writing-mode: vertical-rl;
font-size: 1.5rem;
margin: 30px 0;
}

.itemlist-inner {
writing-mode: vertical-rl;
background: #000;
}

.itemlist-inner-list {
display: grid;
//width: 100%;
grid-template-columns: repeat(3, 1fr);
gap: 20px 20px;
}

.itemlist-inner-items {

}

.itemlist-inner-link {

}

.itemlist-inner-text {

}

.itemlist-inner-image {
}























/*button-borderのレイアウトクラス*/
.button-horizontal {
padding: 30px 100px;

}


